.bienes {
    margin-top: -20px;
    padding: 0;
}

.bienes-alert {
    display: flex;
    gap: 10px;
}
.bienes-input{
    margin-top: 15px;
    width: 265px;
}

@media (max-width: 768px) {
    .bienes {
        margin-top: 10px;
        padding: 0;
    }
    .bienes-alert {
        flex-direction: column;
    }
    .bienes-input{
        width: 100%;
    }
}